$mainColor: #1D71B8;
$secondColor: #00A19A;
$gold: #ffd700;
$white-color: #ffffff;
$black-color: #292929;
$transition: all 0.3s ease-in-out;
$shadow: 0px 2px 4px #00000030;
$BigShadow: 0px 8px 24px #00000030;
@font-face {
  font-family: montserrat;
  font-display: swap;
  src: url(../webfonts/montserrat-Arabic-Regular.woff);
}
* {
  font-family: "montserrat";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  direction: rtl;
}
::-webkit-scrollbar {
  width: 8px;
  height: 6px;
  // background-color: #eee;
  border-radius: 0px !important;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 0px !important;
}
::-webkit-scrollbar-thumb {
  background-color: $secondColor;
  outline: none;
  border-radius: 20px !important;
}
a {
  text-decoration: none;
  transition: $transition;
}
a:hover {
  text-decoration: none;
  color: $mainColor;
}
button:focus {
  outline: 0;
}
.row {
  margin: 0px;
}
a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
@media (max-width: 767px) {
  .container,
  .container-fluid {
    padding: 0px 8px;
  }
}
video,
img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}
.navbar-toggler {
  border: none;
  box-shadow: none !important;
}
.btn:focus {
  box-shadow: none;
}
body {
  background-color: #fdfdfd;
}
content {
  min-height: 50vh;
  position: relative;
  display: block;
}
.select2-container--default .select2-selection--single {
  min-height: 48px;
  display: flex;
  align-items: center;
  border-color: #ced4da;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  left: 1px;
  right: unset;
  top: 50%;
  transform: translateY(-50%);
}
span.select2.select2-container.select2-container--default {
  width: 100% !important;
}
.select2-results__option--selectable {
  border-radius: 4px;
  margin-bottom: 2px;
  transition: $transition;
}
.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: $mainColor !important;
  color: $white-color !important;
}
.select2-dropdown {
  border-radius: 4px;
  box-shadow: $BigShadow !important;
  border-color: transparent;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 10px 20px;
}
// .select2-container {
//   z-index: 1060;
// }
.form-control {
  min-height: 48px;
  box-shadow: none !important;
  color: #777;
}
.container {
  max-width: 1140px;
}
.container-fluid {
  max-width: 1560px;
}
.swiperContainer {
  position: relative;
  .swiper {
    width: 100%;
    height: 100%;
    .swiper-wrapper {
      padding: 20px 0;
    }
  }
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $mainColor;
    background-color: $white-color;
    box-shadow: $shadow;
    border-radius: 100px;
    transition: $transition;
    &::after {
      font-size: 26px;
      font-family: "Font Awesome 6 pro";
    }
    &:hover {
      background-color: $mainColor;
      color: $white-color;
    }
    @media (max-width: 768px) {
      display: none;
    }
  }
  .swiper-button-next {
    right: -40px;
    @media (max-width: 1240px) {
      right: 0px;
    }
    &::after {
      content: "\f053" !important;
      transform: scaleX(-1);
    }
  }
  .swiper-button-prev {
    left: -40px;
    @media (max-width: 1240px) {
      left: 0px;
    }
    &::after {
      content: "\f053" !important;
    }
  }
}
.fancybox__track,
.fancybox__content,
.carousel__track {
  direction: ltr !important;
}
.fancybox__caption {
  text-align: center;
}
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
.navbar {
  background: #ffffff;
  border-top: 1px solid #ffffff33;
  border-bottom: 1px solid #ffffff33;
  box-shadow: none;
  box-shadow: 0 0 30px 1.26px transparent;
  transition: $transition;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1024;
  .navbar-brand {
    margin: 0;
    padding: 0;
    img {
      height: 50px;
      transition: 0.5s ease;
      width: 100%;
      object-fit: contain;
      @media (max-width: 480px) {
        height: 40px;
      }
    }
  }
  .nav-link {
    color: $mainColor;
    transition: $transition;
    font-size: 12px;
    position: relative;
    display: inline-flex;
    align-items: center;
    margin: 0 6px;
    padding: 8px 4px;
    i {
      font-size: 14px;
    }
    &:hover {
      color: $mainColor !important;
    }
  }
  .sideBtn {
    position: relative;
    width: 34px;
    height: 24px;
    padding: 5px;
    cursor: pointer;
    transition: transform 0.3s;
    z-index: 2;
    span {
      position: absolute;
      display: block;
      width: 24px;
      height: 2px;
      background-color: $mainColor;
      margin: 4px 0;
      transition: width 0.3s, transform 0.5s, opacity 0.3s;
      &:first-child {
        top: 0;
      }
      &:nth-child(2) {
        width: 10px;
        top: 7px;
      }
      &:nth-child(3) {
        width: 16px;
        bottom: 0;
      }
    }
    &:not(.active):hover span:first-child {
      width: 16px;
    }
    &:not(.active):hover span:nth-child(2) {
      width: 20px;
    }
    &.active {
      span {
        background-color: #fff !important;
        &:first-child {
          transform: rotate(45deg);
          top: 8px;
          width: 20px;
        }
        &:nth-child(2) {
          width: 0;
          opacity: 0;
        }
        &:last-child {
          transform: rotate(-45deg);
          top: 8px;
          width: 20px;
        }
      }
    }
  }
  .sideMenu {
    position: fixed;
    z-index: 1;
    right: -100%;
    top: 0;
    height: 100%;
    background-color: #1d71b8d6;
    padding: 50px 24px;
    transition: $transition;
    width: 100%;
    &.active {
      right: 0px;
    }
    .sideMenuInner {
      align-items: center;
      display: flex;
      flex-direction: column;
      position: relative;
      justify-content: center;
      height: 100%;
      .sideMenuLink {
        position: relative;
        display: block;
        font-size: 14px;
        line-height: 26px;
        color: #fff;
        padding: 5px 0;
        transition: padding 0.3s;
        &:first-of-type,
        &:not(.visible) + .visible {
          margin-top: auto;
        }
      }
      .sideMenuSocials {
        align-self: flex-end;
        margin-top: auto;
        li {
          display: inline-block;
          a {
            color: #fff;
            font-size: 22px;
            padding-right: 8px;
            padding-left: 8px;
          }
        }
      }
      .language {
        position: relative;
        display: inline-flex;
        align-items: center;
        margin-right: 10px;
        margin-left: 10px;
        padding: 10px 4px;
        color: #fff;
        font-size: 12px;
        line-height: 22px;
        transition: color 0.3s;
        a {
          color: #fff;
        }
      }
    }
  }

  .dropdown {
    text-align: center;

    .dropdown-toggle {
      display: flex;
      align-items: center;
      justify-content: center;

      &::after {
        border: none !important;
        content: "\f104" !important;
        // font-weight: 900;
        font-family: "Font Awesome 6 Pro";
        transition: $transition;
        margin-right: 5px;
        width: 10px !important;
      }
    }

    &:hover {
      .dropdown-toggle {
        &::after {
          transform: rotate(-90deg);
        }
      }
    }

    .dropdown-menu {
      animation-duration: 0.5s;
      animation-fill-mode: both;
      animation-name: fadeOutDown !important;
      animation-delay: 0s;
      background-color: $white-color;
      box-shadow: $BigShadow;
      padding: 5px 0;
      right: unset;
      top: 100%;
      left: -50%;
      margin-top: 0;
      border: none;
      text-align: center;

      a {
        border-radius: 2px;
        padding: 8px 12px;
        padding-right: 16px;
        margin-bottom: 5px;
        position: relative;
        font-size: 12px;

        &::before {
          position: absolute;
          right: 0;
          top: 50%;
          content: "";
          width: 0px;
          height: 80%;
          background-color: $mainColor;
          border-bottom-left-radius: 50%;
          border-top-left-radius: 50%;
          transition: 0.1s ease-in-out;
          transform: translateY(-50%);
        }

        &:hover {
          &::before {
            width: 5px;
          }
        }
      }
    }

    &:hover,
    &:focus {
      .dropdown-menu {
        animation-duration: 0.5s;
        animation-fill-mode: both;
        animation-name: fadeInUp !important;

        @media (min-width: 768px) {
          display: block;
        }
      }
    }

    @media (max-width: 768px) {
      .dropdown-menu {
        animation-name: unset !important;
        box-shadow: none;
        text-align: center;
        background-color: #f0f5f4;
        margin: 10px 0;
      }

      &:hover {
        .dropdown-menu {
          animation-name: unset !important;
        }
      }
    }
  }
}
// .navAnimate {
//   // background-color: #efeff7;
//   // .nav-link {
//   //   color: $mainColor;
//   // }
//   @media (max-width: 480px) {
//     padding: 10px;
//   }
// }

.SectionTitle {
  text-align: center;
  position: relative;
  padding: 30px 10px;
  &::before {
    content: "";
    width: 200px;
    height: 2px;
    background-color: $mainColor;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
  &::after {
    content: "";
    width: 15px;
    height: 15px;
    background-color: $gold;
    border: 2px solid $mainColor;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
  }
  .hint {
    color: #777;
    margin: auto;
    max-width: 800px;
    line-height: 36px;
  }
  .title {
    font-weight: bold;
    color: $mainColor;
    margin-bottom: 20px;
  }
}



.socialIcons {
  padding: 0;
  margin: 0;
  list-style: none;
  a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background-color: #ffffff;
    border-radius: 100px;
    margin: 2px;
    color: #666276;
    transition: $transition;
    &:hover {
      background-color: $secondColor;
      color: $white-color;
      transform: translateY(-3px);
    }
  }
}
.footer {
  background-color: #efeff7;
  background-size: cover;
  padding: 20px 0;
  position: relative;
  z-index: 2;
  .logo {
    height: 80px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 10px;
    object-position: right;
  }
  .info {
    color: #666276;
    margin-bottom: 20px;
    padding-left: 20px;
    font-size: 14px;
    line-height: 30px;
  }
  .head {
    font-weight: bold;
    text-transform: uppercase;
    color: #1f1b2d;
    margin-bottom: 30px;
    padding-bottom: 20px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: 50%;
      height: 2px;
      background-color: $white-color;
      border-radius: 100px;
    }
    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: -4px;
      width: 10px;
      height: 10px;
      border-radius: 100px;
      background-color: $white-color;
    }
  }
  .Links {
    ul {
      // list-style: none;
      padding: 0;
      margin: 0;
      li {
        margin-bottom: 5px;
        display: block;
        // min-width: 49%;
        padding: 5px;
        @media (max-width: 578px) {
          display: inline-block;
        }
        a {
          color: #454056;
          &:hover {
            color: $secondColor;
          }
        }
      }
    }
    .more {
      padding: 5px;
      display: flex;
      margin-bottom: 5px;
      p {
        color: $white-color;
        white-space: nowrap;
        margin-left: 10px;
      }
      a {
        color: $secondColor;
        margin-left: 10px;
        &:last-child {
          margin-left: 0px;
        }
        &:hover {
          color: $white-color;
        }
      }
    }
  }
  .Copyright {
    padding: 20px 20px 0;
    border-top: 1px solid $black-color;
    text-align: center;
    color: #454056;
    font-size: small;
    p {
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        color: $secondColor;
        font-size: small;
        display: flex;
        justify-content: center;
        &:hover {
          color: $mainColor;
        }
        img {
          height: 20px;
          width: 100%;
          object-fit: contain;
          margin: 0px 5px;
        }
      }
    }
  }
  .apps {
    background-color: #1f1b2d;
    border-radius: 16px;
    width: 100%;
    padding: 20px;
    padding-bottom: 0;
    margin-top: 50px;
    display: flex;
    align-items: flex-end;
    .mobile {
      margin-top: -80px;
      width: 200px;
    }
    .downloadLinks {
      padding-right: 20px;
      padding-bottom: 10px;
      h5 {
        margin-bottom: 10px;
        color: #fff;
      }
      p {
        font-size: 12px;
        color: #e2e2e2;
      }
      .download {
        display: flex;
        margin-top: 20px;
        img {
          background-color: #3f3a4f;
          padding: 10px;
          border-radius: 8px;
          height: 40px;
          margin: 0 5px;
        }
      }
    }
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      text-align: center;
      .mobile {
        margin-bottom: 20px;
        border-radius: 0 0 10px 10px;
      }
      .download {
        justify-content: center;
      }
    }
  }
}



// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
/* Tablet device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  /* Global */
  body {
    font-size: 14px !important;
  }
  h1 {
    font-size: 26px !important;
  }
  h2 {
    font-size: 22px !important;
  }
  h3 {
    font-size: 20px !important;
  }
  h4 {
    font-size: 18px !important;
  }
  h5 {
    font-size: 16px !important;
  }
  h6 {
    font-size: 15px !important;
  }
  a,
  p {
    font-size: 14px !important;
  }
}
/* small mobile :320px. */
@media (max-width: 767px) {
  /* Global */
  body {
    font-size: 12px !important;
  }
  h1 {
    font-size: 22px !important;
  }
  h2 {
    font-size: 18px !important;
  }
  h3 {
    font-size: 17px !important;
  }
  h4 {
    font-size: 16px !important;
  }
  h5 {
    font-size: 15px !important;
  }
  h6 {
    font-size: 14px !important;
  }
  a,
  p {
    font-size: 13px !important;
  }
}
