@font-face {
  font-family: montserrat;
  font-display: swap;
  src: url(../webfonts/montserrat-Arabic-Regular.woff);
}
* {
  font-family: "montserrat";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  direction: rtl;
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
  border-radius: 0px !important;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 0px !important;
}

::-webkit-scrollbar-thumb {
  background-color: #00a19a;
  outline: none;
  border-radius: 20px !important;
}

:target {
  scroll-margin-top: 60px;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

a:hover {
  text-decoration: none;
  color: #1d71b8;
}

button:focus {
  outline: 0;
}

.row {
  margin: 0px;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

@media (max-width: 767px) {
  .container,
.container-fluid {
    padding: 0px 8px;
  }
}
video,
img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

.navbar-toggler {
  border: none;
  box-shadow: none !important;
}

.btn:focus {
  box-shadow: none;
}

body {
  background-color: #fdfdfd;
}

content {
  min-height: 50vh;
  position: relative;
  display: block;
}

.select2-container--default .select2-selection--single {
  min-height: 48px;
  display: flex;
  align-items: center;
  border-color: #ced4da;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: unset;
  top: 50%;
  transform: translateY(-50%);
}

span.select2.select2-container.select2-container--default {
  width: 100% !important;
}

.select2-results__option--selectable {
  border-radius: 4px;
  margin-bottom: 2px;
  transition: all 0.3s ease-in-out;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #1d71b8 !important;
  color: #ffffff !important;
}

.select2-dropdown {
  border-radius: 4px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1254901961) !important;
  border-color: transparent;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 10px 20px;
}

.form-control {
  min-height: 48px;
  box-shadow: none !important;
  color: #777;
}

.container {
  max-width: 1140px;
}

.container-fluid {
  max-width: 1560px;
}

.swiperContainer {
  position: relative;
}
.swiperContainer .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiperContainer .swiper-button-next,
.swiperContainer .swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1d71b8;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1254901961);
  border-radius: 100px;
  transition: all 0.3s ease-in-out;
}
.swiperContainer .swiper-button-next::after,
.swiperContainer .swiper-button-prev::after {
  font-size: 26px;
  font-family: "Font Awesome 6 pro";
}
.swiperContainer .swiper-button-next:hover,
.swiperContainer .swiper-button-prev:hover {
  background-color: #1d71b8;
  color: #ffffff;
}
@media (max-width: 768px) {
  .swiperContainer .swiper-button-next,
.swiperContainer .swiper-button-prev {
    display: none;
  }
}
.swiperContainer .swiper-button-next {
  left: -60px;
  right: unset;
}
@media (max-width: 1240px) {
  .swiperContainer .swiper-button-next {
    left: 0px;
  }
}
.swiperContainer .swiper-button-next::after {
  content: "\f053" !important;
}
.swiperContainer .swiper-button-prev {
  right: -60px;
  left: unset;
}
@media (max-width: 1240px) {
  .swiperContainer .swiper-button-prev {
    right: 0px;
  }
}
.swiperContainer .swiper-button-prev::after {
  content: "\f053" !important;
  transform: scaleX(-1);
}
.swiperContainer .swiper-pagination {
  width: auto !important;
  left: 50% !important;
  transform: translateX(-50%);
  background-color: transparent;
  border-radius: 4px;
  padding: 0px 10px;
  transition: all 0.3s ease-in-out;
}
.swiperContainer .swiper-pagination .swiper-pagination-bullet {
  transition: all 0.3s ease-in-out;
  width: 16px;
  border-radius: 4px;
  opacity: 0.3;
  background-color: #1d71b8;
  margin: 2px !important;
}
.swiperContainer .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #1d71b8;
  width: 40px;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.fancybox__track,
.fancybox__content,
.carousel__track {
  direction: ltr !important;
}

.fancybox__caption {
  text-align: center;
}

@media (min-width: 768px) {
  * {
    cursor: none;
  }
  .customCursor {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    border: 1px solid rgba(68, 68, 68, 0.1882352941);
    transition: all 120ms ease-out;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(calc(-50% + 15px), -50%);
    z-index: 999999;
  }
  .customCursorInner {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: rgba(68, 68, 68, 0.5647058824);
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: width 0.3s, height 0.3s, opacity 0.3s;
    z-index: 999999;
  }
  .customHover {
    width: 70px;
    height: 70px;
    border-color: transparent;
    background-color: rgba(68, 68, 68, 0.1882352941);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.062745098);
  }
  .customClick {
    width: 40px;
    height: 40px;
  }
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 0%;
  height: 5px;
  background-color: #1d71b8;
  transition: all 0.3s ease-in-out;
  -webkit-animation: loding 3s;
          animation: loding 3s;
}
@-webkit-keyframes loding {
  0% {
    width: 0%;
  }
  10% {
    width: 10%;
  }
  70% {
    width: 70%;
  }
  100% {
    width: 100%;
  }
}
@keyframes loding {
  0% {
    width: 0%;
  }
  10% {
    width: 10%;
  }
  70% {
    width: 70%;
  }
  100% {
    width: 100%;
  }
}

.navbar {
  background: #ffffff;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: none;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1254901961);
  transition: all 0.3s ease-in-out;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1024;
}
.navbar .navbar-brand {
  margin: 0;
  padding: 0;
}
.navbar .navbar-brand img {
  height: 50px;
  transition: 0.5s ease;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 480px) {
  .navbar .navbar-brand img {
    height: 40px;
  }
}
.navbar .nav-link {
  color: #292929;
  transition: all 0.3s ease-in-out;
  font-size: 13px;
  position: relative;
  display: inline-flex;
  align-items: center;
  margin: 0 6px;
  padding: 8px 4px;
}
.navbar .nav-link i {
  font-size: 14px;
}
.navbar .nav-link::before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #00a19a;
  margin-left: 5px;
  border-radius: 100px;
  transition: all 0.3s ease-in-out;
  position: absolute;
  right: -10px;
  opacity: 0;
  visibility: hidden;
}
.navbar .nav-link:hover, .navbar .nav-link:focus {
  color: #00a19a !important;
}
.navbar .nav-link:hover::before, .navbar .nav-link:focus::before {
  right: 0px;
  opacity: 1;
  visibility: visible;
}
.navbar .sideBtn {
  position: relative;
  width: 34px;
  height: 24px;
  padding: 5px;
  cursor: pointer;
  transition: transform 0.3s;
  z-index: 99999;
}
.navbar .sideBtn span {
  position: absolute;
  display: block;
  width: 24px;
  height: 2px;
  background-color: #1d71b8;
  margin: 4px 0;
  transition: width 0.3s, transform 0.5s, opacity 0.3s;
}
.navbar .sideBtn span:first-child {
  top: 0;
}
.navbar .sideBtn span:nth-child(2) {
  width: 10px;
  top: 7px;
}
.navbar .sideBtn span:nth-child(3) {
  width: 16px;
  bottom: 0;
}
.navbar .sideBtn:not(.active):hover span:first-child {
  width: 16px;
}
.navbar .sideBtn:not(.active):hover span:nth-child(2) {
  width: 20px;
}
.navbar .sideBtn.active span {
  background-color: #fff !important;
}
.navbar .sideBtn.active span:first-child {
  transform: rotate(45deg);
  top: 8px;
  width: 20px;
}
.navbar .sideBtn.active span:nth-child(2) {
  width: 0;
  opacity: 0;
}
.navbar .sideBtn.active span:last-child {
  transform: rotate(-45deg);
  top: 8px;
  width: 20px;
}
.navbar .sideMenu {
  position: fixed;
  z-index: 99998;
  right: -100%;
  top: 0;
  height: 100%;
  background-color: rgba(29, 113, 184, 0.8392156863);
  padding: 50px 24px;
  transition: all 0.3s ease-in-out;
  width: 100%;
}
.navbar .sideMenu.active {
  right: 0px;
}
.navbar .sideMenu .sideMenuInner {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  height: 100%;
}
.navbar .sideMenu .sideMenuInner .sideMenuLink {
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 26px;
  color: #fff;
  padding: 5px 0;
  transition: padding 0.3s;
}
.navbar .sideMenu .sideMenuInner .sideMenuLink:first-of-type, .navbar .sideMenu .sideMenuInner .sideMenuLink:not(.visible) + .visible {
  margin-top: auto;
}
.navbar .sideMenu .sideMenuInner .sideMenuSocials {
  align-self: flex-end;
  margin-top: auto;
}
.navbar .sideMenu .sideMenuInner .sideMenuSocials li {
  display: inline-block;
}
.navbar .sideMenu .sideMenuInner .sideMenuSocials li a {
  color: #fff;
  font-size: 22px;
  padding-right: 8px;
  padding-left: 8px;
}
.navbar .dropdown {
  text-align: center;
}
.navbar .dropdown .dropdown-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .dropdown .dropdown-toggle::after {
  border: none !important;
  content: "\f104" !important;
  font-family: "Font Awesome 6 Pro";
  transition: all 0.3s ease-in-out;
  margin-right: 5px;
  width: 10px !important;
}
.navbar .dropdown:hover .dropdown-toggle::after {
  transform: rotate(-90deg);
}
.navbar .dropdown .dropdown-menu {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeOutDown !important;
          animation-name: fadeOutDown !important;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  background-color: #ffffff;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1254901961);
  padding: 5px 0;
  right: unset;
  top: 100%;
  left: -50%;
  margin-top: 0;
  border: none;
}
.navbar .dropdown .dropdown-menu a {
  border-radius: 2px;
  padding: 8px 12px;
  padding-right: 16px;
  margin-bottom: 5px;
  position: relative;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.navbar .dropdown .dropdown-menu a::before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #00a19a;
  margin-left: 5px;
  border-radius: 100px;
  transition: all 0.3s ease-in-out;
  position: relative;
  right: -10px;
  opacity: 0;
  visibility: hidden;
}
.navbar .dropdown .dropdown-menu a:hover, .navbar .dropdown .dropdown-menu a:focus {
  color: #00a19a !important;
}
.navbar .dropdown .dropdown-menu a:hover::before, .navbar .dropdown .dropdown-menu a:focus::before {
  right: 0px;
  opacity: 1;
  visibility: visible;
  margin-left: 10px;
}
.navbar .dropdown:hover .dropdown-menu, .navbar .dropdown:focus .dropdown-menu {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeInUp !important;
          animation-name: fadeInUp !important;
}
@media (min-width: 768px) {
  .navbar .dropdown:hover .dropdown-menu, .navbar .dropdown:focus .dropdown-menu {
    display: block;
  }
}
@media (max-width: 768px) {
  .navbar .dropdown .dropdown-menu {
    -webkit-animation-name: unset !important;
            animation-name: unset !important;
    box-shadow: none;
    text-align: center;
    background-color: #f0f5f4;
    margin: 10px 0;
  }
  .navbar .dropdown:hover .dropdown-menu {
    -webkit-animation-name: unset !important;
            animation-name: unset !important;
  }
}

.SectionTitle {
  text-align: center;
  position: relative;
  padding: 30px 10px;
}
.SectionTitle::before {
  content: "";
  width: 200px;
  height: 2px;
  background-color: #1d71b8;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  -webkit-animation: sectionAnimation 2s infinite;
          animation: sectionAnimation 2s infinite;
}
.SectionTitle::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #ffd700;
  border: 2px solid #1d71b8;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
@-webkit-keyframes sectionAnimation {
  0% {
    width: 50px;
  }
  50% {
    width: 200px;
  }
  90% {
    width: 100px;
  }
  100% {
    width: 50px;
  }
}
@keyframes sectionAnimation {
  0% {
    width: 50px;
  }
  50% {
    width: 200px;
  }
  90% {
    width: 100px;
  }
  100% {
    width: 50px;
  }
}
.SectionTitle .hint {
  color: #777;
  margin: auto;
  max-width: 800px;
  line-height: 36px;
}
.SectionTitle .title {
  font-weight: bold;
  color: #1d71b8;
  margin-bottom: 20px;
}

.socialIcons {
  padding: 0;
  margin: 0;
  list-style: none;
}
.socialIcons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background-color: #ffffff;
  border-radius: 100px;
  margin: 2px;
  color: #666276;
  transition: all 0.3s ease-in-out;
}
.socialIcons a:hover {
  background-color: #00a19a;
  color: #ffffff;
  transform: translateY(-3px);
}

.footer {
  background-color: #efeff7;
  background-size: cover;
  padding: 20px 0;
  position: relative;
  z-index: 2;
}
.footer .logo {
  height: 80px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 10px;
  -o-object-position: right;
     object-position: right;
}
.footer .info {
  color: #666276;
  margin-bottom: 20px;
  padding-left: 20px;
  font-size: 14px;
  line-height: 30px;
}
.footer .head {
  font-weight: bold;
  text-transform: uppercase;
  color: #1f1b2d;
  margin-bottom: 30px;
  padding-bottom: 20px;
  position: relative;
}
.footer .head::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 2px;
  background-color: #ffffff;
  border-radius: 100px;
}
.footer .head::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: -4px;
  width: 10px;
  height: 10px;
  border-radius: 100px;
  background-color: #ffffff;
}
.footer .Links ul {
  padding: 0;
  margin: 0;
}
.footer .Links ul li {
  margin-bottom: 5px;
  display: block;
  padding: 5px;
}
@media (max-width: 578px) {
  .footer .Links ul li {
    display: inline-block;
  }
}
.footer .Links ul li a {
  color: #454056;
}
.footer .Links ul li a:hover {
  color: #00a19a;
}
.footer .Links .more {
  padding: 5px;
  display: flex;
  margin-bottom: 5px;
}
.footer .Links .more p {
  color: #ffffff;
  white-space: nowrap;
  margin-left: 10px;
}
.footer .Links .more a {
  color: #00a19a;
  margin-left: 10px;
}
.footer .Links .more a:last-child {
  margin-left: 0px;
}
.footer .Links .more a:hover {
  color: #ffffff;
}
.footer .Copyright {
  padding: 20px 20px 0;
  border-top: 1px solid #292929;
  text-align: center;
  color: #454056;
  font-size: small;
}
.footer .Copyright p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .Copyright p a {
  color: #00a19a;
  font-size: small;
  display: flex;
  justify-content: center;
}
.footer .Copyright p a:hover {
  color: #1d71b8;
}
.footer .Copyright p a img {
  height: 20px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0px 5px;
}
.footer .apps {
  background-color: #1f1b2d;
  border-radius: 16px;
  width: 100%;
  padding: 20px;
  padding-bottom: 0;
  margin-top: 50px;
  display: flex;
  align-items: flex-end;
}
.footer .apps .mobile {
  margin-top: -80px;
  width: 200px;
}
.footer .apps .downloadLinks {
  padding-right: 20px;
  padding-bottom: 10px;
}
.footer .apps .downloadLinks h5 {
  margin-bottom: 10px;
  color: #fff;
}
.footer .apps .downloadLinks p {
  font-size: 12px;
  color: #e2e2e2;
}
.footer .apps .downloadLinks .download {
  display: flex;
  margin-top: 20px;
}
.footer .apps .downloadLinks .download img {
  background-color: #3f3a4f;
  padding: 10px;
  border-radius: 8px;
  height: 40px;
  margin: 0 5px;
}
@media (max-width: 768px) {
  .footer .apps {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer .apps .mobile {
    margin-bottom: 20px;
    border-radius: 0 0 10px 10px;
  }
  .footer .apps .download {
    justify-content: center;
  }
}

.circleBlur2,
.circleBlur {
  display: block;
  width: 200px;
  height: 200px;
  background: #00a19a;
  filter: blur(120px);
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  opacity: 0.9;
}

.circleBlur2 {
  left: unset;
  right: 0;
  top: unset;
  bottom: 0;
  background-color: #1d71b8;
}

.mainSlider {
  position: relative;
}
.mainSlider #particles-js {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.mainSlider .mainSliderContainer {
  width: 100%;
  height: 100%;
}
.mainSlider .mainSliderContainer .swiper-slide {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 68px);
}
@media (max-width: 768px) {
  .mainSlider .mainSliderContainer .swiper-slide {
    height: 550px;
  }
}
.mainSlider .mainSliderContainer .swiper-slide::after {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(29, 113, 184, 0.1882352941), rgba(29, 113, 184, 0.7607843137));
  position: absolute;
  bottom: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
}
.mainSlider .mainSliderContainer .swiper-slide .info {
  position: relative;
  z-index: 3;
  padding: 20px 30px;
  max-width: 850px;
  margin-right: 100px;
  text-align: center;
}
@media (max-width: 768px) {
  .mainSlider .mainSliderContainer .swiper-slide .info {
    margin-right: 0px;
  }
}
.mainSlider .mainSliderContainer .swiper-slide .info .hint {
  color: #ffffff;
  text-transform: capitalize;
  text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.2509803922);
  margin-bottom: 10px;
}
.mainSlider .mainSliderContainer .swiper-slide .info .sliderTitle {
  font-size: 50px;
  overflow: hidden;
  color: #ffffff;
  font-weight: bolder;
  text-transform: uppercase;
  text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.2509803922);
  margin-bottom: 20px;
}
.mainSlider .mainSliderContainer .swiper-slide .info a {
  margin-top: 20px;
  display: inline-block;
}
.mainSlider .mainSliderContainer .swiper-button-next,
.mainSlider .mainSliderContainer .swiper-button-prev {
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.1882352941);
  color: #ffffff;
}
.mainSlider .mainSliderContainer .swiper-button-next {
  left: 40px;
}
.mainSlider .mainSliderContainer .swiper-button-prev {
  right: 40px;
}
.mainSlider .mainSliderContainer:hover .swiper-button-next,
.mainSlider .mainSliderContainer:hover .swiper-button-prev {
  opacity: 1;
}
.mainSlider .mainSliderContainer .swiper-pagination {
  left: 20px !important;
  transform: translateX(0%);
}
.mainSlider .mainSliderContainer .swiper-pagination .swiper-pagination-bullet {
  background-color: #ffffff;
}
.mainSlider .mainSliderContainer .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ffffff;
}

.mainSlideItem.swiper-slide-active .sliderTitle {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: jackInTheBox !important;
          animation-name: jackInTheBox !important;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.mainSlideItem.swiper-slide-active .hint {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeInUp !important;
          animation-name: fadeInUp !important;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.mainSlideItem.swiper-slide-active .customBtn {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeInUp !important;
          animation-name: fadeInUp !important;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.goDown {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0;
  -webkit-animation: bounce 2s infinite;
          animation: bounce 2s infinite;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1254901961);
  color: #ffd700;
  position: absolute;
  z-index: 4;
  bottom: calc(0% - 25px);
  left: calc(50% - 25px);
}

.customBtn {
  transition: all 0.3s ease-in-out;
  padding: 8px 24px;
  color: #ffffff;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  border: none;
}
.customBtn::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #1d71b8;
  z-index: -3;
  border-radius: 8px;
  transition: 1s all ease-in-out;
}
.customBtn span {
  position: absolute;
  right: 0;
  top: 0;
  width: 0%;
  height: 0%;
  background-color: rgba(0, 161, 154, 0.5647058824);
  z-index: -1;
  border-radius: 8px;
  transition: 0.6s all ease-in-out;
}
.customBtn span::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 0%;
  height: 0%;
  background-color: #00a19a;
  z-index: -2;
  border-radius: 8px;
  transition: 1s all ease-in-out;
}
.customBtn:hover {
  color: #ffffff;
}
.customBtn:hover span {
  right: -200px;
  top: -200px;
  width: 400px;
  height: 400px;
}
.customBtn:hover span::after {
  right: 0px;
  top: 0px;
  width: 400px;
  height: 400px;
}

.SectionTitle {
  text-align: center;
  position: relative;
  padding: 30px 10px;
}
.SectionTitle::before {
  content: "";
  width: 200px;
  height: 2px;
  background-color: #1d71b8;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.SectionTitle::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #ffd700;
  border: 2px solid #1d71b8;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.SectionTitle .hint {
  color: #777;
  margin: auto;
  max-width: 800px;
  line-height: 36px;
}
.SectionTitle .title {
  font-weight: bold;
  color: #1d71b8;
  margin-bottom: 20px;
}

.services {
  padding: 70px 0 30px;
}
.services .servicesSlider {
  padding-bottom: 40px;
}
.services .service {
  margin: 5px;
  width: 100%;
  height: 300px;
  z-index: -1;
  position: relative;
  border-radius: 10px;
}
.services .service .serviceImg {
  position: relative;
  width: 100%;
  height: 100%;
}
.services .service .serviceImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.services .service .serviceImg::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(29, 113, 184, 0.1882352941), rgba(29, 114, 184, 0.9058823529));
  border-radius: 10px;
}
.services .service .details {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  width: 90%;
  margin: 0 auto 20px;
  transition: all 0.3s ease-in-out;
  transform: translateY(60px);
}
.services .service .details h4 {
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
}
.services .service .details p {
  color: #ededed;
  margin: 10px 0 0;
  font-size: 13px;
  opacity: 0;
  min-height: 50px;
  transition: all 0.3s ease-in-out;
}
.services .service:hover .details {
  transform: translateY(0px);
}
.services .service:hover .details p {
  opacity: 1;
}

.steps {
  padding: 70px 0 30px;
}
.steps .allSteps {
  display: flex;
  padding: 20px 0px;
  text-align: center;
  position: relative;
}
@media (max-width: 678px) {
  .steps .allSteps {
    flex-direction: column;
  }
}
.steps .allSteps::before {
  content: "";
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #00a19a;
  position: absolute;
  top: 50%;
  left: 0;
}
@media (max-width: 678px) {
  .steps .allSteps::before {
    display: none;
  }
}
.steps .allSteps .step {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 250px;
  width: 100%;
}
@media (max-width: 678px) {
  .steps .allSteps .step {
    height: auto;
    padding-top: 70px;
    padding-bottom: 40px;
  }
}
.steps .allSteps .step::after {
  content: "";
  width: 30px;
  height: 30px;
  border: 1px dashed #00a19a;
  background-color: #00827c;
  border-radius: 100px;
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
@media (max-width: 678px) {
  .steps .allSteps .step::after {
    top: 0;
    bottom: unset;
  }
}
.steps .allSteps .step:nth-child(1):after {
  content: "1";
}
.steps .allSteps .step:nth-child(2):after {
  content: "2";
}
.steps .allSteps .step:nth-child(3):after {
  content: "3";
}
.steps .allSteps .step:nth-child(4):after {
  content: "4";
}
.steps .allSteps .step:nth-child(5):after {
  content: "5";
}
.steps .allSteps .step::before {
  content: "";
  width: 2px;
  height: 15px;
  border-left: 1px dashed #00a19a;
  border-radius: 100px;
  position: absolute;
  bottom: 30px;
  left: calc(50% + 1px);
  transform: translateX(-50%);
  z-index: 2;
}
@media (max-width: 678px) {
  .steps .allSteps .step::before {
    top: -15px;
    height: 60px;
    bottom: unset;
  }
}
@media (max-width: 678px) {
  .steps .allSteps .step:first-child::before {
    top: 0;
    height: 45px;
  }
}
.steps .allSteps .step .images {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
.steps .allSteps .step .images img {
  -o-object-fit: contain;
     object-fit: contain;
  margin: 2px;
  height: 40px;
  width: 60px;
  border-radius: 8px;
}
.steps .allSteps .step .icon {
  position: relative;
  margin-bottom: 30px;
}
.steps .allSteps .step .icon i {
  font-size: 40px;
  color: #00a19a;
}
.steps .allSteps .step .icon::after {
  content: "";
  width: 80px;
  height: 50px;
  background-color: #00a19a;
  opacity: 0.1;
  position: absolute;
  left: calc(50% - 44px);
  top: 12px;
  transform: skewX(-55deg) rotateX(60deg) rotateY(14deg);
  z-index: -1;
}
.steps .allSteps .step:nth-child(even) {
  margin-top: 220px;
  padding-bottom: 0px;
  padding-top: 60px;
}
@media (max-width: 678px) {
  .steps .allSteps .step:nth-child(even) {
    margin-top: unset;
    padding-bottom: 30px;
    padding-top: 70px;
  }
}
.steps .allSteps .step:nth-child(even)::after {
  bottom: unset;
  top: 0;
}
.steps .allSteps .step:nth-child(even)::before {
  top: 30px;
  bottom: unset;
}
@media (max-width: 678px) {
  .steps .allSteps .step:nth-child(even)::before {
    top: -15px;
  }
}

.scaleReverse {
  transform: scaleX(-1);
}

.statistics {
  background: linear-gradient(45deg, rgba(0, 161, 154, 0.062745098), rgba(29, 113, 184, 0.1254901961));
  padding: 70px 0;
  text-align: center;
  position: relative;
}
.statistics .statisticsInner {
  position: relative;
  background-color: rgba(255, 255, 255, 0.1882352941);
  border-radius: 16px;
}
.statistics h4 {
  font-weight: bold;
  color: #1d71b8;
  margin-bottom: 30px;
}
.statistics .specifications {
  padding: 30px;
  border-radius: 16px;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
.statistics .specifications i {
  font-size: 45px;
  margin-bottom: 30px;
  color: #1d71b8;
  transition: all 0.3s ease-in-out;
  display: block;
}
.statistics .specifications h1 {
  font-weight: bold;
  margin-bottom: 20px;
  color: #1d71b8;
  transition: all 0.3s ease-in-out;
  display: block;
}
.statistics .specifications .odometer-inside {
  direction: ltr !important;
}
.statistics .specifications:hover {
  background-color: #ffffff;
  transform: translateY(-5px);
}
.statistics .specifications:hover i {
  color: #00a19a;
}
.statistics .specifications:hover h1 {
  color: #00a19a;
}

.faq {
  padding: 70px 0 20px;
  background: linear-gradient(45deg, rgba(0, 161, 154, 0.062745098), rgba(29, 113, 184, 0.1254901961));
}

.accordion .accordion-button:not(.collapsed) {
  background-color: #00a19a;
  color: #ffffff;
}
.accordion .accordion-button {
  box-shadow: none !important;
}
.accordion ul {
  list-style: auto;
  margin: 0;
}
.accordion ul li {
  margin-bottom: 20px;
  font-size: small;
  color: #777;
}
.accordion p {
  font-size: small;
  color: #777;
}
.accordion .accordion-item {
  transition: all 0.3s ease-in-out;
  margin-bottom: 5px;
}
.accordion .accordion-item:nth-child(n+4) {
  display: none;
}
.accordion .showAll {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: #00a19a;
}
.accordion .showAll .less {
  display: none;
}
.accordion .showAll a {
  display: flex;
  align-items: center;
  color: #00a19a;
}
.accordion .showAll a span {
  margin: 0 3px;
}
.accordion .showAll i {
  transition: all 0.3s ease-in-out;
}
.accordion.open .accordion-item:nth-child(n+4) {
  display: block;
}
.accordion.open .showAll .less {
  display: block;
}
.accordion.open .showAll .more {
  display: none;
}
.accordion.open .showAll i {
  transform: rotate(180deg);
}

.references {
  padding-top: 40px;
  background-image: linear-gradient(45deg, rgba(29, 113, 184, 0.1882352941), rgba(0, 161, 154, 0.3137254902)), url(../img/map.webp);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.references .swiper-slide {
  width: auto;
}
.references .referenceLogo {
  height: 150px;
  padding: 10px 20px;
}
.references .referenceLogo img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

/* Tablet device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  /* Global */
  body {
    font-size: 14px !important;
  }
  h1 {
    font-size: 26px !important;
  }
  h2 {
    font-size: 22px !important;
  }
  h3 {
    font-size: 20px !important;
  }
  h4 {
    font-size: 18px !important;
  }
  h5 {
    font-size: 16px !important;
  }
  h6 {
    font-size: 15px !important;
  }
  a,
p {
    font-size: 14px !important;
  }
}
/* small mobile :320px. */
@media (max-width: 767px) {
  /* Global */
  body {
    font-size: 13px !important;
  }
  h1 {
    font-size: 23px !important;
  }
  h2 {
    font-size: 19px !important;
  }
  h3 {
    font-size: 18px !important;
  }
  h4 {
    font-size: 17px !important;
  }
  h5 {
    font-size: 16px !important;
  }
  h6 {
    font-size: 15px !important;
  }
  a,
p {
    font-size: 14px !important;
  }
}/*# sourceMappingURL=style.css.map */