@font-face {
  font-family: montserrat;
  font-display: swap;
  src: url(../webfonts/montserrat-Arabic-Regular.woff);
}
* {
  font-family: "montserrat";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  direction: rtl;
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
  border-radius: 0px !important;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 0px !important;
}

::-webkit-scrollbar-thumb {
  background-color: #00a19a;
  outline: none;
  border-radius: 20px !important;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

a:hover {
  text-decoration: none;
  color: #1d71b8;
}

button:focus {
  outline: 0;
}

.row {
  margin: 0px;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

@media (max-width: 767px) {
  .container,
.container-fluid {
    padding: 0px 8px;
  }
}
video,
img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

.navbar-toggler {
  border: none;
  box-shadow: none !important;
}

.btn:focus {
  box-shadow: none;
}

body {
  background-color: #fdfdfd;
}

content {
  min-height: 50vh;
  position: relative;
  display: block;
}

.select2-container--default .select2-selection--single {
  min-height: 48px;
  display: flex;
  align-items: center;
  border-color: #ced4da;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: unset;
  top: 50%;
  transform: translateY(-50%);
}

span.select2.select2-container.select2-container--default {
  width: 100% !important;
}

.select2-results__option--selectable {
  border-radius: 4px;
  margin-bottom: 2px;
  transition: all 0.3s ease-in-out;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #1d71b8 !important;
  color: #ffffff !important;
}

.select2-dropdown {
  border-radius: 4px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1882352941) !important;
  border-color: transparent;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 10px 20px;
}

.form-control {
  min-height: 48px;
  box-shadow: none !important;
  color: #777;
}

.container {
  max-width: 1140px;
}

.container-fluid {
  max-width: 1560px;
}

.swiperContainer {
  position: relative;
}
.swiperContainer .swiper {
  width: 100%;
  height: 100%;
}
.swiperContainer .swiper .swiper-wrapper {
  padding: 20px 0;
}
.swiperContainer .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiperContainer .swiper-button-next,
.swiperContainer .swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1d71b8;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1882352941);
  border-radius: 100px;
  transition: all 0.3s ease-in-out;
}
.swiperContainer .swiper-button-next::after,
.swiperContainer .swiper-button-prev::after {
  font-size: 26px;
  font-family: "Font Awesome 6 pro";
}
.swiperContainer .swiper-button-next:hover,
.swiperContainer .swiper-button-prev:hover {
  background-color: #1d71b8;
  color: #ffffff;
}
@media (max-width: 768px) {
  .swiperContainer .swiper-button-next,
.swiperContainer .swiper-button-prev {
    display: none;
  }
}
.swiperContainer .swiper-button-next {
  right: -40px;
}
@media (max-width: 1240px) {
  .swiperContainer .swiper-button-next {
    right: 0px;
  }
}
.swiperContainer .swiper-button-next::after {
  content: "\f053" !important;
  transform: scaleX(-1);
}
.swiperContainer .swiper-button-prev {
  left: -40px;
}
@media (max-width: 1240px) {
  .swiperContainer .swiper-button-prev {
    left: 0px;
  }
}
.swiperContainer .swiper-button-prev::after {
  content: "\f053" !important;
}

.fancybox__track,
.fancybox__content,
.carousel__track {
  direction: ltr !important;
}

.fancybox__caption {
  text-align: center;
}

.customCursor {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  transition: all 120ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
  z-index: 99999;
  background-color: rgba(0, 161, 154, 0.1254901961);
}

.customCursorHover {
  width: 60px;
  height: 60px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.062745098);
}

.customCursorClick {
  width: 25px;
  height: 25px;
  background-color: rgba(0, 161, 154, 0.2509803922);
}

.navbar {
  background: #ffffff;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: none;
  box-shadow: 0 0 30px 1.26px transparent;
  transition: all 0.3s ease-in-out;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1024;
}
.navbar .navbar-brand {
  margin: 0;
  padding: 0;
}
.navbar .navbar-brand img {
  height: 50px;
  transition: 0.5s ease;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 480px) {
  .navbar .navbar-brand img {
    height: 40px;
  }
}
.navbar .nav-link {
  color: #292929;
  transition: all 0.3s ease-in-out;
  font-size: 13px;
  position: relative;
  display: inline-flex;
  align-items: center;
  margin: 0 6px;
  padding: 8px 4px;
}
.navbar .nav-link i {
  font-size: 14px;
}
.navbar .nav-link::before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #00a19a;
  margin-left: 5px;
  border-radius: 100px;
  transition: all 0.3s ease-in-out;
  position: absolute;
  right: -10px;
  opacity: 0;
  visibility: hidden;
}
.navbar .nav-link:hover, .navbar .nav-link:focus {
  color: #00a19a !important;
}
.navbar .nav-link:hover::before, .navbar .nav-link:focus::before {
  right: 0px;
  opacity: 1;
  visibility: visible;
}
.navbar .sideBtn {
  position: relative;
  width: 34px;
  height: 24px;
  padding: 5px;
  cursor: pointer;
  transition: transform 0.3s;
  z-index: 2;
}
.navbar .sideBtn span {
  position: absolute;
  display: block;
  width: 24px;
  height: 2px;
  background-color: #1d71b8;
  margin: 4px 0;
  transition: width 0.3s, transform 0.5s, opacity 0.3s;
}
.navbar .sideBtn span:first-child {
  top: 0;
}
.navbar .sideBtn span:nth-child(2) {
  width: 10px;
  top: 7px;
}
.navbar .sideBtn span:nth-child(3) {
  width: 16px;
  bottom: 0;
}
.navbar .sideBtn:not(.active):hover span:first-child {
  width: 16px;
}
.navbar .sideBtn:not(.active):hover span:nth-child(2) {
  width: 20px;
}
.navbar .sideBtn.active span {
  background-color: #fff !important;
}
.navbar .sideBtn.active span:first-child {
  transform: rotate(45deg);
  top: 8px;
  width: 20px;
}
.navbar .sideBtn.active span:nth-child(2) {
  width: 0;
  opacity: 0;
}
.navbar .sideBtn.active span:last-child {
  transform: rotate(-45deg);
  top: 8px;
  width: 20px;
}
.navbar .sideMenu {
  position: fixed;
  z-index: 1;
  right: -100%;
  top: 0;
  height: 100%;
  background-color: rgba(29, 113, 184, 0.8392156863);
  padding: 50px 24px;
  transition: all 0.3s ease-in-out;
  width: 100%;
}
.navbar .sideMenu.active {
  right: 0px;
}
.navbar .sideMenu .sideMenuInner {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  height: 100%;
}
.navbar .sideMenu .sideMenuInner .sideMenuLink {
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 26px;
  color: #fff;
  padding: 5px 0;
  transition: padding 0.3s;
}
.navbar .sideMenu .sideMenuInner .sideMenuLink:first-of-type, .navbar .sideMenu .sideMenuInner .sideMenuLink:not(.visible) + .visible {
  margin-top: auto;
}
.navbar .sideMenu .sideMenuInner .sideMenuSocials {
  align-self: flex-end;
  margin-top: auto;
}
.navbar .sideMenu .sideMenuInner .sideMenuSocials li {
  display: inline-block;
}
.navbar .sideMenu .sideMenuInner .sideMenuSocials li a {
  color: #fff;
  font-size: 22px;
  padding-right: 8px;
  padding-left: 8px;
}
.navbar .dropdown {
  text-align: center;
}
.navbar .dropdown .dropdown-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .dropdown .dropdown-toggle::after {
  border: none !important;
  content: "\f104" !important;
  font-family: "Font Awesome 6 Pro";
  transition: all 0.3s ease-in-out;
  margin-right: 5px;
  width: 10px !important;
}
.navbar .dropdown:hover .dropdown-toggle::after {
  transform: rotate(-90deg);
}
.navbar .dropdown .dropdown-menu {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeOutDown !important;
          animation-name: fadeOutDown !important;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  background-color: #ffffff;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1882352941);
  padding: 5px 0;
  right: unset;
  top: 100%;
  left: -50%;
  margin-top: 0;
  border: none;
}
.navbar .dropdown .dropdown-menu a {
  border-radius: 2px;
  padding: 8px 12px;
  padding-right: 16px;
  margin-bottom: 5px;
  position: relative;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.navbar .dropdown .dropdown-menu a::before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #00a19a;
  margin-left: 5px;
  border-radius: 100px;
  transition: all 0.3s ease-in-out;
  position: relative;
  right: -10px;
  opacity: 0;
  visibility: hidden;
}
.navbar .dropdown .dropdown-menu a:hover, .navbar .dropdown .dropdown-menu a:focus {
  color: #00a19a !important;
}
.navbar .dropdown .dropdown-menu a:hover::before, .navbar .dropdown .dropdown-menu a:focus::before {
  right: 0px;
  opacity: 1;
  visibility: visible;
  margin-left: 10px;
}
.navbar .dropdown:hover .dropdown-menu, .navbar .dropdown:focus .dropdown-menu {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeInUp !important;
          animation-name: fadeInUp !important;
}
@media (min-width: 768px) {
  .navbar .dropdown:hover .dropdown-menu, .navbar .dropdown:focus .dropdown-menu {
    display: block;
  }
}
@media (max-width: 768px) {
  .navbar .dropdown .dropdown-menu {
    -webkit-animation-name: unset !important;
            animation-name: unset !important;
    box-shadow: none;
    text-align: center;
    background-color: #f0f5f4;
    margin: 10px 0;
  }
  .navbar .dropdown:hover .dropdown-menu {
    -webkit-animation-name: unset !important;
            animation-name: unset !important;
  }
}

.SectionTitle {
  text-align: center;
  position: relative;
  padding: 30px 10px;
}
.SectionTitle::before {
  content: "";
  width: 200px;
  height: 2px;
  background-color: #1d71b8;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.SectionTitle::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #ffd700;
  border: 2px solid #1d71b8;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.SectionTitle .hint {
  color: #777;
  margin: auto;
  max-width: 800px;
  line-height: 36px;
}
.SectionTitle .title {
  font-weight: bold;
  color: #1d71b8;
  margin-bottom: 20px;
}

.socialIcons {
  padding: 0;
  margin: 0;
  list-style: none;
}
.socialIcons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background-color: #ffffff;
  border-radius: 100px;
  margin: 2px;
  color: #666276;
  transition: all 0.3s ease-in-out;
}
.socialIcons a:hover {
  background-color: #00a19a;
  color: #ffffff;
  transform: translateY(-3px);
}

.footer {
  background-color: #efeff7;
  background-size: cover;
  padding: 20px 0;
  position: relative;
  z-index: 2;
}
.footer .logo {
  height: 80px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 10px;
  -o-object-position: right;
     object-position: right;
}
.footer .info {
  color: #666276;
  margin-bottom: 20px;
  padding-left: 20px;
  font-size: 14px;
  line-height: 30px;
}
.footer .head {
  font-weight: bold;
  text-transform: uppercase;
  color: #1f1b2d;
  margin-bottom: 30px;
  padding-bottom: 20px;
  position: relative;
}
.footer .head::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 2px;
  background-color: #ffffff;
  border-radius: 100px;
}
.footer .head::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: -4px;
  width: 10px;
  height: 10px;
  border-radius: 100px;
  background-color: #ffffff;
}
.footer .Links ul {
  padding: 0;
  margin: 0;
}
.footer .Links ul li {
  margin-bottom: 5px;
  display: block;
  padding: 5px;
}
@media (max-width: 578px) {
  .footer .Links ul li {
    display: inline-block;
  }
}
.footer .Links ul li a {
  color: #454056;
}
.footer .Links ul li a:hover {
  color: #00a19a;
}
.footer .Links .more {
  padding: 5px;
  display: flex;
  margin-bottom: 5px;
}
.footer .Links .more p {
  color: #ffffff;
  white-space: nowrap;
  margin-left: 10px;
}
.footer .Links .more a {
  color: #00a19a;
  margin-left: 10px;
}
.footer .Links .more a:last-child {
  margin-left: 0px;
}
.footer .Links .more a:hover {
  color: #ffffff;
}
.footer .Copyright {
  padding: 20px 20px 0;
  border-top: 1px solid #292929;
  text-align: center;
  color: #454056;
  font-size: small;
}
.footer .Copyright p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .Copyright p a {
  color: #00a19a;
  font-size: small;
  display: flex;
  justify-content: center;
}
.footer .Copyright p a:hover {
  color: #1d71b8;
}
.footer .Copyright p a img {
  height: 20px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0px 5px;
}
.footer .apps {
  background-color: #1f1b2d;
  border-radius: 16px;
  width: 100%;
  padding: 20px;
  padding-bottom: 0;
  margin-top: 50px;
  display: flex;
  align-items: flex-end;
}
.footer .apps .mobile {
  margin-top: -80px;
  width: 200px;
}
.footer .apps .downloadLinks {
  padding-right: 20px;
  padding-bottom: 10px;
}
.footer .apps .downloadLinks h5 {
  margin-bottom: 10px;
  color: #fff;
}
.footer .apps .downloadLinks p {
  font-size: 12px;
  color: #e2e2e2;
}
.footer .apps .downloadLinks .download {
  display: flex;
  margin-top: 20px;
}
.footer .apps .downloadLinks .download img {
  background-color: #3f3a4f;
  padding: 10px;
  border-radius: 8px;
  height: 40px;
  margin: 0 5px;
}
@media (max-width: 768px) {
  .footer .apps {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer .apps .mobile {
    margin-bottom: 20px;
    border-radius: 0 0 10px 10px;
  }
  .footer .apps .download {
    justify-content: center;
  }
}

.mainContainer {
  position: relative;
  min-height: calc(100vh - 68px);
  overflow: hidden;
}
.mainContainer::before {
  content: "";
  height: 2000px;
  width: 2000px;
  border-radius: 2000px;
  background-image: radial-gradient(#00a19a, rgba(0, 161, 154, 0));
  box-shadow: 0px 0px 500px rgba(0, 161, 153, 0.7607843137);
  z-index: 1;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateY(90%) translateX(-50%);
}
.mainContainer::after {
  content: "";
  background-color: rgba(0, 161, 154, 0.1882352941);
  height: 100%;
  width: 100%;
  z-index: 2;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* Tablet device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  /* Global */
  body {
    font-size: 14px !important;
  }
  h1 {
    font-size: 26px !important;
  }
  h2 {
    font-size: 22px !important;
  }
  h3 {
    font-size: 20px !important;
  }
  h4 {
    font-size: 18px !important;
  }
  h5 {
    font-size: 16px !important;
  }
  h6 {
    font-size: 15px !important;
  }
  a,
p {
    font-size: 14px !important;
  }
}
/* small mobile :320px. */
@media (max-width: 767px) {
  /* Global */
  body {
    font-size: 12px !important;
  }
  h1 {
    font-size: 22px !important;
  }
  h2 {
    font-size: 18px !important;
  }
  h3 {
    font-size: 17px !important;
  }
  h4 {
    font-size: 16px !important;
  }
  h5 {
    font-size: 15px !important;
  }
  h6 {
    font-size: 14px !important;
  }
  a,
p {
    font-size: 13px !important;
  }
}/*# sourceMappingURL=style.css.map */